In [1]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.3.0-cp312-cp312-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.26.0 in c:\users\phani\onedrive\desktop\workspace\ml_bookcamp\python\venv\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\phani\onedrive\desktop\workspace\ml_bookcamp\python\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\phani\onedrive\desktop\workspace\ml_bookcamp\python\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.0-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
   ---------- ----------------------------- 2.9/11.0 MB 16.8 MB/s eta 0:00:01
   ---------------------------- ----------- 7.9/11.0 MB 21.1 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 22.1 MB/s eta 0:00:00
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.0 pytz-2025.2 tzdata-2025.2

In [2]:
# types of data types
    # array
    # list
    # dict
    # tuple
    # set
    # matrix
    # vector

In [3]:
# Series in Pandas 
    # its one dimensional labled array

In [6]:
import pandas as pd

In [8]:
s1 = pd.Series([10,20,30,40,50,60])

In [9]:
print(s1)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [11]:
s2 = pd.Series([10,20,30,40,50,60], index=['a','b','c','d','e','f'],name='scores')
print(s2)

a    10
b    20
c    30
d    40
e    50
f    60
Name: scores, dtype: int64

In [13]:
# cretae series from dict

data = {'a':10, 'b':20,'c':30,'d':40}
s3 = pd.Series(data)
print(s3)

a    10
b    20
c    30
d    40
dtype: int64

In [14]:
import numpy as np

In [15]:
np_array = np.array([10,20,30,40,50,60])
s4 = pd.Series(np_array)
print(s4)

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [16]:
# cretae series from dict

data = {'a':10, 'b':20,'c':1.11,'d':True}
s5 = pd.Series(data)
print(s5)

a      10
b      20
c    1.11
d    True
dtype: object

# Series indexing and slicing

In [31]:
# cretae series from dict

data = {'a':10, 'b':20,'c':30,'d':40}
s7 = pd.Series(data,name='scores')
print(s7)

a    10
b    20
c    30
d    40
Name: scores, dtype: int64

In [23]:
print(s7.index)
print(s7.values)
print(s7.dtypes)
print(s7.name)
print(s7.shape)

Index(['a', 'b', 'c', 'd'], dtype='object')
[10 20 30 40]
int64
scores
(4,)

In [24]:
print(s7)

a    10
b    20
c    30
d    40
Name: scores, dtype: int64

In [25]:
print(s7.values[0])

10

In [26]:
print(s7.index[0])

a

In [28]:
print(s7.values[0]) # positional index

10

In [29]:
print(s7.loc[0])

KeyError: 0

In [36]:
print(s7.loc['a']) # indexing

10

In [37]:
print(s7[0])

10

C:\Users\phani\AppData\Local\Temp\ipykernel_2980\2729629825.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(s7[0])

In [39]:
print(s7.iloc[0]) # positional indexing

10

In [41]:
print(s7.loc[['a','b']]) # indexing

a    10
b    20
Name: scores, dtype: int64

In [42]:
print(s7.iloc[[0,1]]) # positional indexing

a    10
b    20
Name: scores, dtype: int64

In [49]:
print(s7.iloc[0:2]) # positional indexing
 # 2 is exclusinve

a    10
b    20
Name: scores, dtype: int64

In [50]:
# cretae series from dict

data = {'a':10, 'b':20,'c':30,'d':40,0:100,1:101,2:400,6:700}
s9 = pd.Series(data,name='scores')
print(s9)

a     10
b     20
c     30
d     40
0    100
1    101
2    400
6    700
Name: scores, dtype: int64

In [51]:
s9.loc[0:2] # final value is inclusive

0    100
1    101
2    400
Name: scores, dtype: int64

In [52]:
# Slicing
# - loc [start,end]  : end is inclusive
# -iloc [start,end] : end is exclusive

# Data Frame

In [55]:
data = {
    'Name' : ['Ananth','Pushpak','Nikhil'],
    'Age'  : [24,25,26],
    'City' : ['Benguluru','Hyderabad','Delhi']
}
# total number of series here 3 name age and city

In [57]:
df = pd.DataFrame(data)
print(df)

      Name  Age       City
0   Ananth   24  Benguluru
1  Pushpak   25  Hyderabad
2   Nikhil   26      Delhi

In [64]:
data_dictionary = [
    {'Name' : 'Ananth', 'Age'  : '24','City' : 'Benguluru'},
    {'Name' : 'Pushpak', 'Age'  : '25','City' : 'Hyderabad'},
    {'Name' : 'Nikhil', 'Age'  : '25','City' : 'Delhi'}
     ]
# total number of series here 3 name age and city

In [65]:
df1 = pd.DataFrame(data_dictionary)
print(df1)

      Name Age       City
0   Ananth  24  Benguluru
1  Pushpak  25  Hyderabad
2   Nikhil  25      Delhi

In [67]:
array_data = np.array([[1,2],[3,4],[5,6]]) # array data

In [68]:
df2 = pd.DataFrame(array_data)
print(df2)

   0  1
0  1  2
1  3  4
2  5  6

In [69]:
df_2 = pd.DataFrame(array_data, columns=['A','B'])
print(df_2)

   A  B
0  1  2
1  3  4
2  5  6

# Accessing the Vlaues

In [70]:
data = {
    'Name' : ['Ananth','Pushpak','Nikhil'],
    'Age'  : [24,25,26],
    'City' : ['Benguluru','Hyderabad','Delhi']
}
# total number of series here 3 name age and city

In [71]:
df4 = pd.DataFrame(data)

In [72]:
print(df4)

      Name  Age       City
0   Ananth   24  Benguluru
1  Pushpak   25  Hyderabad
2   Nikhil   26      Delhi

In [82]:
print(df4['Name'])
print("="*40)
print(df4[['Name','Age']])
print("="*40)
print(df.loc[0])
print("="*40)
print(df.loc[0:1]) # inclusive
print("="*40)
print(df.iloc[0])
print("="*40)
print(df.iloc[0:1]) # exclusive

0     Ananth
1    Pushpak
2     Nikhil
Name: Name, dtype: object
========================================
      Name  Age
0   Ananth   24
1  Pushpak   25
2   Nikhil   26
========================================
Name       Ananth
Age            24
City    Benguluru
Name: 0, dtype: object
========================================
      Name  Age       City
0   Ananth   24  Benguluru
1  Pushpak   25  Hyderabad
========================================
Name       Ananth
Age            24
City    Benguluru
Name: 0, dtype: object
========================================
     Name  Age       City
0  Ananth   24  Benguluru